.DS_Store
.idea/
.vite/
.turbo/
node_modules/
_packages/generator/dist/
_packages/generator/node_modules/
dist/
*.log
.env
.env.local
bun.lock
bun.lockb
package-lock.json
tsconfig.node.tsbuildinfo
**/*.tsbuildinfo
bash.exe.*
.manual/